*{
    text-align: center;
    background-color: #0B0B45;
    color: white;
}

.main-div{
    margin: 12rem;
}

.heading{
    padding-bottom: 25px;
    color: #39FF14;
}

.buttonLink{
    text-decoration: none;
}